/*************************************************************************************************************************
		COMMENTS FROM VISHAL: restaurant contact
**************************************************************************************************************************/

#restaurant_contact {
	padding-top: 40px;
}

#restaurant_contact h2 {
	padding-bottom: 10px;
}

#restaurant_contact .resto_description {
	font-size: 12px;
	padding: 0px;
}

#restaurant_contact .diaporama {
	width: 400px;
}

#restaurant_contact #slides_container {
	background: url('../../../multimedia/pictures/template/website/contact.background.gif');
	width: 329px;
	height: 257px;
	float: left;
}

#restaurant_contact #controller {
	float: left;
	width: 40px;
	margin-top: 165px;
	padding-left: 15px;
}



